header {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.titulo-principal{
    padding-left: 30px;
}

#banner{
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}
.titulo-centralizado{
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    width: 30%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 20px;
}
.imagenDiferenciales{
    width: 100%;
    display: block;
    margin: 0 auto;
}

div.container{
    text-align: center;
    padding: 10px 20px;
}

.items{
    font-style: italic;
    font-size: 1.3em;
}




footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color:#FFFFFF;
    font-size: 17px;
    margin:20px;
}

